@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Roboto&display=swap");

a {
  text-decoration: none;
  color: #f5aa70;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Roboto", sans-serif;
}

a:hover {
  color: #e03838;
  cursor: pointer;
}

@media (max-width: 768px) {
  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
  }

  .contenedor {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin: -20; */
    width: 40%;
  }

  .secondary-div {
    margin-top: 2rem;
    /* padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
  }

  aside {
    width: 100%;
    margin-top: 2rem;
  }

  aside ul {
    padding-left: 1rem;
  }
  aside li {
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1rem;
  }

  .text-about {
    width: 100%;
    /* height: 20%; */
    /* margin: 0 10%; */
    font-size: 1rem;
    /* text-align: left; */
  }
  /* .about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
  } */

  /* .about-text {
    width: 100%;
    height: 20%;
    margin: 0 10%;
    font-size: 1.5rem;
    text-align: left;
  } */
}
